.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-1);
	padding: var(--space-2);
	user-select: none;
	appearance: none;
	outline: none;
	font-size: 1.25em;
	font-family: var(--ff-bold);
	border-radius: var(--border-radius-sm);
	border: var(--border-style);
	cursor: pointer;
	position: relative;
	z-index: 1;
	transition: transform 0.15s linear, box-shadow 0.15s linear;
	box-shadow: 0 0 0 rgba(36, 28, 21, 1);

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 5px 0 rgba(36, 28, 21, 1);
	}

	&:active {
		transform: translateY(0);
		box-shadow: 0 0 0 rgba(36, 28, 21, 1);
	}

	&:focus {
		outline: 3px solid var(--color-pumpkin);
		outline-offset: 3px;
	}

	&:global([data-variant="primary"]) {
		background-color: var(--color-cavendish);
	}

	&:disabled {
		background-color: var(--color-squash);
		box-shadow: none;

		&:hover {
			cursor: not-allowed;
			transform: none;
		}
	}
}
