.message {
	display: flex;
	flex-direction: column;
	padding: var(--space-3);
	background-color: var(--color-jasmine);
	border: var(--border-style);
	border-radius: var(--border-radius-sm);
	gap: var(--space-2);
	box-shadow: var(--double-drop-shadow);
}

.message-text {
	line-height: 1.75;
	color: var(--color-oyster);
}

.footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.byline {
	color: var(--color-kale);
	font-size: 0.9em;
}

.author {
	font-family: var(--ff-bold);
}

.delete-button {
	padding: var(--space-1);
}
