.nav-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--space-1) var(--space-6);
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.byline {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-1);

	> a {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--space-1);
		font-family: var(--ff-bold);
		color: var(--color-kale);
	}
}
